.about__banner {
    height: 700px;
    margin: 0 auto;
    padding: 62px 0 62px 44px;
    background-image: url(../img/Hero\ Photo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
}

.about__container {
    /* padding-right: 20px; */
}

.about__title {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    /* font-size: 40px; */
    font-size: clamp(1.75rem, 3vw, 2.5rem);
    color: var(--color-offwhite);
}
.about__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    /* font-size: 24px; */
    font-size: clamp(1rem, 2vw, 1.25rem);
    max-width: 60ch;
    color: var(--color-offwhite);
    /* height: 315px; */
    max-width: 600px;
    margin-top: 38px;
}
.about__btn {
    margin-top: 54px;
    background-color: var(--color-red-dark);
    border-radius: 10px;
    height: 64px;
    /* width: 600px; */
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    /* font-size: 30px; */
    color: var(--color-offwhite);
    width: min(100%, 600px);
    height: 3.5rem;
    font-size: clamp(1rem, 2.5vw, 1.25rem);
}
