.bannefits {
    background-color: var(--color-red-dark);
}
.bannefits__list {
    display: flex;
    flex-wrap: wrap;
}
.bannefits__item {
    height: 260px;
    /* width: 440px; */
    /* flex-basis: 440px; */
    flex-basis: 100%;
    /* flex-basis: 33%; */
    flex-grow: 1;
}
.bannefits__title {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: var(--color-offwhite);
    margin-top: 30px;
}
.bannefits__line {
    background-color: var(--color-white);
    /* margin: 0 auto; */
    width: 400px;
    height: 1px;
    margin: 25px auto;
}
.bannefits__text {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: var(--color-offwhite);
    max-width: 450px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .bannefits__item {
        flex-basis: 50%;
    }
}
@media (min-width: 1024px) {
    .bannefits__item {
        flex-basis: 33.33%;
    }
}
