.header {
    align-items: center; /* выравнивает логотип и текст по вертикали */
    justify-content: space-between;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.header__brand {
    display: flex;
    align-items: center; /* выравнивает логотип и текст по вертикали */
    gap: 20px; /* расстояние между лого и текстом */
    text-decoration: none;
}
.header__logo {
    width: 79px;
    height: 79px;
    flex-shrink: 0;
    margin-left: 10px;
}
.header__slogan {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--color-red-dark);
    line-height: 1.2;
    /* flex-basis: 400px; */
}

.header__menu {
    display: flex;
    gap: 52px;
}

.header__menu-item {
}

.header__link {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--color-gray-dark);
    flex-basis: 1;
}
