/* src/css/styles.css */
@import url("./reset.css");
@import url("./common.css");

/* === Стили блоков === */
@import url("./header.css");
@import url("./about-us.css");
@import url("./bannefits.css");
@import url("./krananlagen.css");
@import url("./windesysteme.css");
@import url("./footer.css");
