<section class="about__banner">
    <div class="about__container container">
        <h2 class="about__title">Wir über uns</h2>
        <p class="about__text">
            HUV GmbH bietet Engineering, Technologie, Anlagen und Ausrüstung für verschiedene Industriezweige
            an.
            <br />
            <br />
            HUV GmbH ist seit 2003 im Anlagenbau tätig und realisiert durchdachte Anlagenkonzepte, ausgereifte
            Standardlösungen für Anlagenkomponenten und Entwicklung von Sonderlösungen.
            <br />
            <br />
            Eine unserer Hauptrichtungen ist die Lieferung von Komponenten der Krananlagen und kompletten
            Krananlagen für Stahlwerke und Kraftwerke.
        </p>
        <button type="button" class="about__btn">Kontaktieren Sie uns</button>
    </div>
</section>
