<section class="bannefits container">
    <h2 class="visually-hidden">bannefits</h2>
    <ul class="bannefits__list">
        <li class="bannefits__item">
            <h3 class="bannefits__title">Erfahrung</h3>
            <div class="bannefits__line"></div>
            <p class="bannefits__text">Über 20 Jahre im Anlagenbau für Industrieprojekte.</p>
        </li>
        <li class="bannefits__item">
            <h3 class="bannefits__title">Qualität</h3>
            <div class="bannefits__line"></div>
            <p class="bannefits__text">Zusammenarbeit mit führenden europäischen Herstellern.</p>
        </li>
        <li class="bannefits__item">
            <h3 class="bannefits__title">Kompetenz</h3>
            <div class="bannefits__line"></div>
            <p class="bannefits__text">Maßgeschneiderte Lösungen für anspruchsvolle Industrieanlagen.</p>
        </li>
    </ul>
</section>
