<section class="section section_windesysteme container">
    <h2 class="section_windesysteme__title">Windesysteme</h2>

    <div class="section_windesysteme__inner">
        <!-- Верхний блок: 2 изображения + одна подпись -->
        <figure class="section_windesysteme__figure section_windesysteme__figure--double">
            <div class="section_windesysteme__images">
                <img
                    class="section_windesysteme__image"
                    src="../img/Airbrush-2-1756403654333 1.png"
                    alt="Stationäres Windesystem 2x180 t, Ansicht 1"
                />
                <img
                    class="section_windesysteme__image"
                    src="../img/Airbrush-3-1756403795659 1.png"
                    alt="Stationäres Windesystem 2x180 t, Ansicht 2"
                />
            </div>
            <figcaption class="section_windesysteme__caption">Stationäres Windesystem 2x180 t</figcaption>
        </figure>

        <!-- Нижний блок: 1 изображение + подпись -->
        <figure class="section_windesysteme__figure section_windesysteme__figure--single">
            <img
                class="section_windesysteme__image--large"
                src="../img/Airbrush-1-1756403821466 1.png"
                alt="Stationäres Windesystem 2x75 t"
            />
            <!-- <figcaption class="section_windesysteme__caption">Stationäres Windesystem 2x75 t</figcaption> -->
        </figure>
    </div>
</section>
